body {
  font-family: "Ubuntu", sans-serif;
  text-align: center;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Ubuntu", sans-serif;
}
p {
  color: #8f8f8f;
}

/* Headings */

.big-heading {
  font-size: 3.5rem;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

.container-fluid {
  padding: 7% 15%;
}

#title,
#cta {
  background-color: #ff4c68;
  color: #fff;
}
#title,
#cta h1 {
  font-size: 2rem;
  line-height: 1.5;
  color: white;
}

#title .container-fluid {
  padding: 3% 15% 7%;
}

/* Navigation Bar */
#title .container {
  padding-left: 0;
}
.navbar {
  padding: 0 0 4.5rem 0;
}

.navbar-brand {
  font-size: 2.5em;
  font-weight: 800;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-weight: 200;
  font-size: 1.2rem;
}

/* Title Img */
.title-img {
  width: 60%;
  transform: rotate(25deg);
  left: 35%;
  position: relative;
}

/* Download Button */
.download-btn {
  margin: 5% 3% 5% 0;
}

/* Feature Section*/
#features {
  background-color: white;
  position: relative;
  /* z-index: 1; */
}
.features-title {
  font-size: 1.5rem;
}

#features i {
  font-size: 150%;
  color: #ef8172;
}

#features i:hover,
i:focus {
  font-size: 150%;
  color: rgba(239, 129, 114, 0.7);
}

#features div .col-sm-12 {
  margin: 10% 0;
}

/* Testimonials Section*/
#testimonials {
  background-color: #ef8172;
  color: #fff;
}
testimonials-text {
  font-size: 3rem;
  line-height: 1.5em;
}

.testimonials-img {
  width: 15%;
  border-radius: 100%;
}

#press {
  background-color: #ef8172;
}
.press-img {
  width: 15%;
  margin: 20px;
}

/* Pricing Section */

#pricing {
  margin-top: 30px;
}
#pricing price-text {
  font-size: 3rem;
  line-height: 1.5;
}
#pricing .card-header {
  background-color: #ef8172;
}

#pricing .pricing-3 p {
  margin-bottom: 5px;
}
#pricing button {
  color: #ff4c68;
  border-color: #ff4c68;
}

#pricing button:hover,
button:focus {
  color: #a0c4ff;
  border-color: #a0c4ff;
  border-bottom: 5px;
  box-shadow: 0 5px;
}

#footer {
  background-color: white;
  color: black;
}
#footer i {
  margin: 0 30px;
  margin-bottom: 30px;
}
#footer p {
  margin-bottom: 0;
}

/* Media Section */
@media (max-width: 1028px) {
  #title {
    text-align: center;
  }

  .title-img {
    position: static;
    transform: rotate(0);
  }
  p,
  h2,
  h3 {
    font-size: 3em;
  }

  #title button {
    font-size: 2rem;
  }
  #pricing button {
    font-size: 2rem;
  }
  #cta button {
    font-size: 2rem;
  }
  #footer {
    font-size: 8px;
  }
  #footer i {
    font-size: 30px;
  }
}
